__pycache__/
*.py[codz]
*$py.class

.pytest_cache/

# compiled UI files
ui/ui_*.py
# compiled translations
i18n/*.qm

# building
build/
nuitka-crash-report.xml

env/

.ropeproject

# the vocab JSON built by gen-vocab.py
vocab.json

db.sqlite3
*-journal
